/* body {
    height: 600px;
    width: 800px;
} */

div .card {
    padding: 20px
}

@font-face {
  font-family: 'Bootstrap Icons';
  src: url('../fonts/bootstrap-icons.woff') format('woff'),
       url('../fonts/bootstrap-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container {
    max-width: 750px
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: menulist-button;
  display: block;
}

.greyed-out {
  opacity: 0.5;
  pointer-events: none; /* Disables interaction */
}